@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
	align-items: center;
	border: 0;
	display: flex;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	justify-content: center;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
}

.container {
	border: 0;
	left: 0;
	margin: 0;
	min-height: 100vh;
	min-width: 100vw;
	padding: 0;
	position: absolute;
	top: 0;
}

.myBackgroundImage {
	background-image: url(../images/circuit-board.svg);
	border: 0;
	height: 100vh;
	left: 0;
	margin: 0;
	opacity: 0.15;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100vw;
	z-index: -1;
}

.quote-container {
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 10px;
	box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	max-width: 900px;
	padding: 20px 30px;
	width: auto;
}

.quote-text {
	font-size: 2.75rem;
}

.long-quote {
	font-size: 2rem;
}

.fa-quote-left {
	font-size: 4rem;
}

.quote-author {
	margin-top: 15px;
	font-size: 2rem;
	font-weight: 400;
	font-style: italic;
}

@media screen and (max-width: 1000px) {
	.quote-container {
		margin: auto 10px;
	}

	.quote-text {
		font-size: 2.5rem;
	}
}
