:root {
	--off-white: #f9f7f7;
	--light-blue: #dbe2ef;
	--medium-blue: #3f72af;
	--dark-blue: #112d4e;
}

article {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

body {
	background-color: var(--off-white);
	border: 0;
	box-sizing: border-box;
	color: var(--dark-blue);
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100vh;
	padding: 10px;
}

h1 {
	margin: 10px 0;
	text-align: center;
}

header {
	background-color: var(--light-blue);
	border: 2px solid var(--dark-blue);
	border-radius: 10px;
}

.nav_ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
